Node-RED/flows.json
[
    {
        "id": "18dfd17b21d50506",
        "type": "ui_template",
        "z": "0ef80238735b5f8b",
        "group": "332f09a3f18563ad",
        "name": "canvas",
        "order": 4,
        "width": 7,
        "height": 8,
        "format": "<div id=\"canvas-container\" style=\"float: left; width: 320px; margin-right: 20px;\">\n  <canvas id=\"draw\" width=\"320\" height=\"320\"\n    style=\"border:1px solid #444; background:black; touch-action:none; display: block;\"></canvas>\n\n  <div style=\"margin-top: 10px; display: flex; justify-content: space-between;\">\n    <button onclick=\"clearCanvas()\" style=\"flex: 1; margin-right: 5px; padding: 10px;\">Clear</button>\n    <button onclick=\"submit()\" style=\"flex: 1; margin-left: 5px; padding: 10px; background-color: #3498db; color: white; border: none; border-radius: 4px;\">Predict</button>\n  </div>\n</div>\n\n<canvas id=\"small\" width=\"28\" height=\"28\" style=\"display:none;\"></canvas>\n\n<script>\n  (function(scope) {\n    const canvas = document.getElementById(\"draw\");\n    const ctx = canvas.getContext(\"2d\");\n\n    ctx.strokeStyle = \"white\";\n    ctx.lineWidth = 18;\n    ctx.lineCap = \"round\";\n\n    let drawing = false;\n\n    function getPos(e) {\n      const rect = canvas.getBoundingClientRect();\n      // Support both Mouse and Touch events\n      const clientX = e.touches ? e.touches[0].clientX : e.clientX;\n      const clientY = e.touches ? e.touches[0].clientY : e.clientY;\n\n      return {\n        x: clientX - rect.left,\n        y: clientY - rect.top\n      };\n    }\n\n    function startDraw(e) {\n      drawing = true;\n      const pos = getPos(e);\n      ctx.beginPath();\n      ctx.moveTo(pos.x, pos.y);\n      e.preventDefault();\n    }\n\n    function draw(e) {\n      if (!drawing) return;\n      const pos = getPos(e);\n      ctx.lineTo(pos.x, pos.y);\n      ctx.stroke();\n      e.preventDefault();\n    }\n\n    function endDraw(e) {\n      drawing = false;\n      ctx.closePath();\n      e.preventDefault();\n    }\n\n    // Mouse events\n    canvas.addEventListener(\"mousedown\", startDraw);\n    canvas.addEventListener(\"mousemove\", draw);\n    canvas.addEventListener(\"mouseup\", endDraw);\n    canvas.addEventListener(\"mouseleave\", endDraw);\n\n    // Touch events\n    canvas.addEventListener(\"touchstart\", startDraw);\n    canvas.addEventListener(\"touchmove\", draw);\n    canvas.addEventListener(\"touchend\", endDraw);\n\n    // Clear\n    window.clearCanvas = function() {\n      ctx.clearRect(0, 0, canvas.width, canvas.height);\n      ctx.fillStyle = \"black\";\n      ctx.fillRect(0, 0, canvas.width, canvas.height);\n      scope.send({payload: \"clear\", reset: true})\n    };\n\n    clearCanvas();\n\n    // === MNIST PREPROCESSING ===\n\n    function downscale() {\n      const small = document.getElementById(\"small\");\n      const sctx = small.getContext(\"2d\");\n      sctx.clearRect(0, 0, 28, 28);\n      sctx.drawImage(canvas, 0, 0, 28, 28);\n    }\n\n    function getPixels() {\n      const small = document.getElementById(\"small\");\n      const sctx = small.getContext(\"2d\");\n      const img = sctx.getImageData(0, 0, 28, 28).data;\n\n      let pixels = [];\n      for (let i = 0; i < img.length; i += 4) {\n        pixels.push(img[i] / 255.0); // grayscale + normalize\n      }\n      return pixels;\n    }\n\n    window.submit = function() {\n      downscale();\n      let pixels = getPixels();\n      scope.send({ payload: pixels }); \n    };\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "503e22369939b6f4",
                "874ab63baaa0882b"
            ]
        ]
    },
    {
        "id": "a5af54a5abbe3b71",
        "type": "debug",
        "z": "0ef80238735b5f8b",
        "name": "Canvas output data",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "9f0308a4d13b59ea",
        "type": "http request",
        "z": "0ef80238735b5f8b",
        "name": "Predict",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 920,
        "y": 180,
        "wires": [
            [
                "65d2f0393437f556",
                "bebaa5d389461cf5"
            ]
        ]
    },
    {
        "id": "6d84d9ec68190bf1",
        "type": "change",
        "z": "0ef80238735b5f8b",
        "name": "configure headers to json",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"content-type\": \"application/json\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "9f0308a4d13b59ea",
                "78ed17f49214b971"
            ]
        ]
    },
    {
        "id": "65d2f0393437f556",
        "type": "debug",
        "z": "0ef80238735b5f8b",
        "name": "predictor terminal outputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 140,
        "wires": []
    },
    {
        "id": "78ed17f49214b971",
        "type": "debug",
        "z": "0ef80238735b5f8b",
        "name": "JSON object",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "b3dba922626b9758",
        "type": "json",
        "z": "0ef80238735b5f8b",
        "name": "JSON Stringify",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "6d84d9ec68190bf1"
            ]
        ]
    },
    {
        "id": "bebaa5d389461cf5",
        "type": "json",
        "z": "0ef80238735b5f8b",
        "name": "Decode JSON into JS Object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "fba1a2fca033d4cd"
            ]
        ]
    },
    {
        "id": "503e22369939b6f4",
        "type": "switch",
        "z": "0ef80238735b5f8b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "clear",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "clear",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "b3dba922626b9758",
                "a5af54a5abbe3b71"
            ],
            [
                "c9e688be643b19f6"
            ]
        ]
    },
    {
        "id": "c9e688be643b19f6",
        "type": "change",
        "z": "0ef80238735b5f8b",
        "name": "reset displays",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"predictions\": [[0,0,0,0,0,0,0,0,0,0]]}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 360,
        "wires": [
            [
                "fba1a2fca033d4cd"
            ]
        ]
    },
    {
        "id": "c75f4b8389c5b644",
        "type": "debug",
        "z": "0ef80238735b5f8b",
        "name": "processed terminal outputs",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 180,
        "wires": []
    },
    {
        "id": "fba1a2fca033d4cd",
        "type": "function",
        "z": "0ef80238735b5f8b",
        "name": "process prediction outputs",
        "func": "// 1. Map the raw numbers first so we can sort numerically\nlet results = msg.payload.predictions[0].map((conf, digit) => {\n    return {\n        digit: digit,\n        conf: conf, // Keep as a raw number for sorting\n    };\n});\n\n// 2. Sort using the raw number\nresults.sort((a, b) => b.conf - a.conf);\n\nmsg.payload = [...results]; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 220,
        "wires": [
            [
                "79ee2019a3349fe8",
                "e2f9e2f59c51569b",
                "e7698cdc3c13c1ec",
                "c75f4b8389c5b644"
            ]
        ]
    },
    {
        "id": "79ee2019a3349fe8",
        "type": "ui_template",
        "z": "0ef80238735b5f8b",
        "group": "332f09a3f18563ad",
        "name": "Prediction table",
        "order": 2,
        "width": 7,
        "height": 9,
        "format": "<div>\n    <h2>Prediction Confidences</h2>\n    <table style=\"width:100%; text-align: left; border-collapse: collapse;\">\n        <tr style=\"border-bottom: 1px solid #555;\">\n            <th>Digit</th>\n            <th>Confidence</th>\n        </tr>\n        <tr ng-repeat=\"item in msg.payload track by $index\">\n            <td style=\"font-size: 20px; font-weight: bold; padding: 5px;\">{{item.digit}}</td>\n            <td>\n                <div style=\"background: #eee; width: 100%; border-radius: 5px; margin: 5px 0;\">\n                    <div\n                        style=\"background: #3498db; width: {{item.conf * 100}}%; padding: 2px 5px; color: white; font-size: 12px; border-radius: 5px; min-width: 20px;\">\n                        {{(item.conf * 100).toFixed(1)}}%\n                    </div>\n                </div>\n            </td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1740,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e2f9e2f59c51569b",
        "type": "ui_text",
        "z": "0ef80238735b5f8b",
        "group": "332f09a3f18563ad",
        "order": 3,
        "width": 8,
        "height": 1,
        "name": "Detected digit",
        "label": "Model identifies",
        "format": "{{msg.payload[0].digit}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Trebuchet MS,Helvetica,sans-serif",
        "fontSize": "25",
        "color": "#000000",
        "x": 1740,
        "y": 260,
        "wires": []
    },
    {
        "id": "e7698cdc3c13c1ec",
        "type": "ui_gauge",
        "z": "0ef80238735b5f8b",
        "name": "Best confidence level",
        "group": "332f09a3f18563ad",
        "order": 5,
        "width": 8,
        "height": 8,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{msg.payload[0].conf * 100}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1760,
        "y": 300,
        "wires": []
    },
    {
        "id": "874ab63baaa0882b",
        "type": "ui_text",
        "z": "0ef80238735b5f8b",
        "group": "332f09a3f18563ad",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "",
        "format": "Draw here",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "x": 250,
        "y": 180,
        "wires": []
    },
    {
        "id": "332f09a3f18563ad",
        "type": "ui_group",
        "name": "Digit classification",
        "tab": "a659e6edd84b54dc",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a659e6edd84b54dc",
        "type": "ui_tab",
        "name": "Digit Classifier System",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "490394e5e8068ba7",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]